* {
  margin: 0;
}
.app {
  background-color: #f7f7f7;
}
.app-main {
  display: flex;
}
.other-nav {
  margin-left: 10px;
}
.app-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}
